<!-- add new task form -->
<div ng-controller="AddTaskController as at">
  <form name="newTaskForm" ng-submit="at.addTask(at.newTask)" autocomplete="off">
    <md-content id="newTaskBar" layout-gt-sm="row" layout-align="center center">
      <md-input-container flex="60">
        <label>Opis zadania</label>
        <input type="text" name="desc" ng-model="at.newTask.desc" required md-no-asterisk autocomplete="off">
        <div ng-messages="newTaskForm.desc.$error" role="alert">
            <div ng-message="required">Pole nie może być puste.</div>
        </div>
      </md-input-container>

        <!-- project -->
        <md-input-container>
          <label>Projekt...</label>
          <input type="text" name="project" ng-model="at.newTask.project" required md-no-asterisk autocomplete="off">
          <div ng-messages="newTaskForm.project.$error" role="alert">
            <div ng-message="required">Pole nie może być puste.</div>
          </div>
        </md-input-container>
        {{at.newTask.category}}
        <!-- category autocomplete -->
        <div ng-controller="AutocompleteController as ctrl">
            <md-autocomplete required md-no-asterisk
                ng-disabled="ctrl.isDisabled"
                md-no-cache="ctrl.noCache"
                md-selected-item="ctrl.selectedItem"
                md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                md-search-text="ctrl.searchText"
                md-selected-item-change="ctrl.selectedItemChange(item)"
                md-items="item in ctrl.querySearch(ctrl.searchText)"
                md-item-text="item"
                md-min-length="0"
                md-input-minlength="0"
                md-floating-label="Kategoria...">
              <md-item-template>
               <span md-highlight-text="ctrl.searchText">{{item}}</span>
              </md-item-template>
             </md-autocomplete>
        </div>

      <md-input-container>
        <md-button type="submit" class="md-fab" aria-label="add-task" >
              <md-icon><i class="material-icons">add</i></md-icon>
          </md-button>
      </md-input-container>
    </md-content>

  </form>


</div>
