<div ng-controller="DashboardCompletedController as vm">
  <div layout="column" layout-align="space-between strech">
    <div>
      <h1>Ukończone zadania</h1>
    </div>
        <md-divider><md-divider>
      <!-- search tasks -->
    <div>
      <md-input-container style="margin-bottom: 0px;">
        <label>Wyszukaj...</label>
        <input type="text" name="search" ng-model="searchText" autocomplete="off">
      </md-input-container>
    </div>
  </div>
  <!-- Tasks table -->
  <table width="100%" layout-padding>
    <thead>
      <tr>
        <th class="pointer" ng-click="sortType = 'project'; sortReverse = !sortReverse ">
          Projekt
          <span class="sortorder" ng-show="sortType === 'project'" ng-class="{sortReverse: sortReverse}"></span>
        </th>
        <th class="pointer" ng-click="sortType = 'category'; sortReverse = !sortReverse ">
          Kategoria
          <span class="sortorder" ng-show="sortType === 'category'" ng-class="{sortReverse: sortReverse}"></span>
        </th>
        <th class="pointer" ng-click="sortType = 'desc'; sortReverse = !sortReverse ">
          Opis
          <span class="sortorder" ng-show="sortType === 'desc'" ng-class="{sortReverse: sortReverse}"></span>
        </th>
        <th class="table-creation-date pointer" ng-click="sortType = 'creationDate'; sortReverse = !sortReverse ">
          Data utworzenia
          <span class="sortorder" ng-show="sortType === 'creationDate'" ng-class="{sortReverse: sortReverse}"></span>
        </th>
        <th class="table-updated pointer" ng-click="sortType = 'updated'; sortReverse = !sortReverse ">
          Data modyfikacji
          <span class="sortorder" ng-show="sortType === 'updated'" ng-class="{sortReverse: sortReverse}"></span>
        </th>
        <th class="pointer" ng-click="sortType = 'duration'; sortReverse = !sortReverse ">
          Czas trwania
          <span class="sortorder" ng-show="sortType === 'duration'" ng-class="{sortReverse: sortReverse}"></span>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr style="height: 3em" ng-mouseover="edit = true" ng-mouseleave="edit = false" ng-repeat="item in vm.tasks | orderBy:sortType:sortReverse | filter:searchText" ng-if="item.isCompleted">
        <td class="table-project">{{ item.project }}</td>
        <td class="table-category">{{ item.category }}</td>
        <td class="table-desc">{{ item.desc }}</td>
        <td class="table-creation-date">{{ item.creationDate | date:'yyyy-MM-dd HH:mm'}}</td>
        <td class="table-updated-completed">{{ item.updated | date:'yyyy-MM-dd HH:mm' }}</td>
        <td class="table-duration">{{ item.duration | formatDuration }}</td>
        <td class="table-completed-edit-btn">
          <div ng-show="edit" layout="row">
            <md-button class="md-icon-button" aria-label="Edycja" ng-click="vm.removeTasks($event, item)">
              <md-icon>delete_forever</md-icon>
              <md-tooltip>Usuń</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" aria-label="Edycja" ng-click="vm.editTask($event, item)">
              <md-icon>mode_edit</md-icon>
              <md-tooltip>Edycja</md-tooltip>
            </md-button>
          </div>
        </td>

      </tr>
    </tbody>
  </table>


</div>
