


<md-dialog aria-label="EditTaskDialog">
  <md-toolbar>
    <h2 style="padding: 5px; text-align: center;">Edycja zadania</h2>
  </md-toolbar>
  <form name="editTaskForm" ng-submit="$event.preventDefault()">
<div class="md-dialog-content" layout="row" layout-align="space-between start">



  <div flex="40">
    <md-input-container>
      <label>Opis</label>
      <textarea style="min-width:200px;" name="desc" ng-model="edc.task.desc" required md-no-asterisk autocomplete="off"></textarea>
      <div ng-messages="editTaskForm.desc.$error" role="alert">
          <div ng-message="required">Pole nie może być puste.</div>
      </div>
    <md-input-container>
  </div>

  <!-- autocomplete fields -->
  <div layout="row" ng-controller="AddTaskController as at">
    <!-- project autocomplete -->
    <div >
      <md-autocomplete required md-no-asterisk
                      md-input-name="project"
                      md-selected-item="edc.task.project"
                      md-search-text-change="at.searchProjectChange(edc.task.project)"
                      md-search-text="edc.task.project"
                      md-selected-item-change="at.selectedProjectChange(item)"
                      md-items="item in at.profile.projects | filter:edc.task.project"
                      md-item-text="item"
                      md-min-length="0"
                      md-input-minlength="0"
                      md-floating-label="Projekt...">
                  <md-item-template>
                      <span md-highlight-text="edc.task.project" md-highlight-flags="^i">{{item}}</span>
                  </md-item-template>
                  <div ng-messages="editTaskForm.project.$error" role="alert">
                      <div ng-message="required">Pole nie może być puste.</div>
                  </div>
      </md-autocomplete>

    </div>



    <div >
      <!-- category autocomplete -->
        <md-autocomplete required md-no-asterisk
                        md-input-name="category"
                        md-selected-item="edc.task.category"
                        md-search-text-change="at.searchCategoryChange(edc.task.category)"
                        md-search-text="edc.task.category"
                        md-selected-item-change="at.selectedCategoryChange(item)"
                        md-items="item in at.profile.categories | filter:edc.task.category"
                        md-item-text="item"
                        md-min-length="0"
                        md-input-minlength="0"
                        md-floating-label="Kategoria...">
                    <md-item-template>
                        <span md-highlight-text="edc.task.category" md-highlight-flags="^i">{{item}}</span>
                    </md-item-template>
                    <div ng-messages="editTaskForm.category.$error" role="alert">
                        <div ng-message="required">Pole nie może być puste.</div>
                    </div>
        </md-autocomplete>

    </div>

</div>


</div>

<!-- task history -->
<div layout="column" ng-hide="edc.task.history.length === 0">
  <table>
    <thead>
      <tr>
        <th>Data</th>
        <th>Od</th>
        <th>Do</th>
        <th>Czas</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="timespan-row" ng-repeat="item in edc.task.history" ng-mouseover="hover = true" ng-mouseleave="hover = false">
        <td class="table-col">{{ item.startTime | date:'yyyy-MM-dd'}}</td>
        <td class="table-col" ng-hide="edit">{{ item.startTime | date:'HH:mm:ss'}}</td>
        <td class="table-col" ng-show="edit">
          <div layout="row" layout-align="center center">
            <div>
              <i class="material-icons pointer" ng-click="edc.addHour(item, 'startTime')">keyboard_arrow_up</i>
              <p style="margin: 0px 0px 0px 0px">{{ item.startTime | date:'HH'}}</p>
              <i class="material-icons pointer" ng-click="edc.substractHour(item, 'startTime')">keyboard_arrow_down</i>
            </div>

            <div >
              <p style="margin: 0px 0px 0px 0px">:</p>
            </div>

            <div >
              <i class="material-icons pointer" ng-click="edc.addMinute(item, 'startTime')">keyboard_arrow_up</i>
              <p style="margin: 0px 0px 0px 0px">{{ item.startTime | date:'mm'}}</p>
              <i class="material-icons pointer" ng-click="edc.substractMinute(item, 'startTime')">keyboard_arrow_down</i>
            </div>
          </div>
         </td>
        <td class="table-col" ng-hide="edit">{{ item.stopTime | date:'HH:mm:ss '}}</td>
        <td class="table-col" ng-show="edit">
          <div layout="row" layout-align="center center">
            <div>
              <i class="material-icons pointer" ng-click="edc.addHour(item, 'stopTime')">keyboard_arrow_up</i>
              <p style="margin: 0px 0px 0px 0px">{{ item.stopTime | date:'HH'}}</p>
              <i class="material-icons pointer" ng-click="edc.substractHour(item, 'stopTime')">keyboard_arrow_down</i>
            </div>

            <div >
              <p style="margin: 0px 0px 0px 0px">:</p>
            </div>

            <div >
              <i class="material-icons pointer" ng-click="edc.addMinute(item, 'stopTime')">keyboard_arrow_up</i>
              <p style="margin: 0px 0px 0px 0px">{{ item.stopTime | date:'mm'}}</p>
              <i class="material-icons pointer" ng-click="edc.substractMinute(item, 'stopTime')">keyboard_arrow_down</i>
            </div>
          </div>
         </td>

        <td class="table-col">{{ item.dt | formatDuration }}</td>
        <td class="table-col" style="width: 15%;">
          <div ng-show="hover && !item.isPerforming && !edit">
            <md-button class="md-icon-button" aria-label="Edycja" ng-click="edit = true">
              <md-icon>mode_edit</md-icon>
              <md-tooltip>Edycja</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" aria-label="Usuń" ng-click="edc.removeTimeSpan($index)">
              <md-icon>delete_forever</md-icon>
              <md-tooltip>Usuń</md-tooltip>
            </md-button>
          </div>

          <div ng-show="hover && !item.isPerforming && edit">
            <md-button class="md-icon-button" aria-label="Zapis" ng-click="edit = false">
              <md-icon>mode_edit</md-icon>
              <md-tooltip>Wyłącz edycje</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" aria-label="Usuń" ng-click="edc.removeTimeSpan($index)">
              <md-icon>delete_forever</md-icon>
              <md-tooltip>Usuń</md-tooltip>
            </md-button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>

</form>





<!-- answers footer -->
<md-dialog-actions>
  <span>Sumaryczny czas: <b>{{edc.task.duration | formatDuration}}</b></span>
  <md-button ng-click="edc.cancel()" name="cancelTaskButton">Anuluj</md-button>
  <md-button ng-click="edc.save(edc.task)" name="saveTaskButton">Zapisz</md-button>
</md-dialog-actions>

</md-dialog>
