



<md-dialog aria-label="taskDialog">
  <md-toolbar>
    <h2 style="text-align: center;">Edycja zadania</h2>
  </md-toolbar>
<form name="taskForm" ng-submit="$event.preventDefault()" ng-controller="AddTaskController as at">

<div class="md-dialog-content" layout="row" layout-align="center start">

  <div flex="50">
    <md-input-container>
      <label>Opis</label>
      <input style="min-width:300px;" name="desc" ng-model="edc.task.desc" required md-no-asterisk autocomplete="off">
      <div ng-messages="taskForm.desc.$error" role="alert">
          <div ng-message="required">Pole nie może być puste.</div>
      </div>
    <md-input-container>
  </div>

  <!-- autocomplete fields -->
  <div layout="row">
    <!-- project autocomplete -->
    <div >
      <md-autocomplete required md-no-asterisk
                      md-input-name="project"
                      md-selected-item="edc.task.project"
                      md-search-text-change="at.searchProjectChange(edc.task.project)"
                      md-search-text="searchProject"
                      md-selected-item-change="at.selectedProjectChange(item)"
                      md-items="item in at.profile.projects | filter:searchProject"
                      md-item-text="item"
                      md-min-length="0"
                      md-input-minlength="0"
                      md-floating-label="Projekt...">
                  <md-item-template>
                      <span md-highlight-text="searchProject" md-highlight-flags="^i">{{item}}</span>
                  </md-item-template>
                  <div ng-messages="taskForm.project.$error" role="alert">
                      <div ng-message="required">Wybierz projekt.</div>
                      <div ng-message="notSelected">Wybierz projekt z listy.</div>
                  </div>
      </md-autocomplete>

    </div>



    <div >
      <!-- category autocomplete -->
        <md-autocomplete required md-no-asterisk
                        md-input-name="category"
                        md-selected-item="edc.task.category"
                        md-search-text-change="at.searchCategoryChange(edc.task.category)"
                        md-search-text="edc.task.category"
                        md-selected-item-change="at.selectedCategoryChange(item)"
                        md-items="item in at.profile.categories "
                        md-item-text="item"
                        md-min-length="0"
                        md-input-minlength="0"
                        md-floating-label="Kategoria...">
                    <md-item-template>
                        <span md-highlight-text="searchCategory" md-highlight-flags="^i">{{item}}</span>
                    </md-item-template>
                    <div ng-messages="taskForm.category.$error" role="alert">
                        <div ng-message="required">Wybierz kategorię.</div>
                        <div ng-message="notSelected">Wybierz kategorię z listy.</div>
                    </div>
        </md-autocomplete>

    </div>

</div>


</div>

<br />

<!-- task history -->
<div layout="column" ng-hide="edc.task.history.length === 0">
  <table>
    <thead>
      <tr>
        <th>Data</th>
        <th>Od</th>
        <th>Do</th>
        <th>Czas</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-class="item.isValid ? '':'has-error'" class="timespan-row" ng-repeat="item in edc.task.history" ng-mouseover="hover = true" ng-mouseleave="hover = false">
        <td class="table-col">{{ item.startTime | date:'yyyy-MM-dd'}}</td>
        <!-- table cell when edit mode is disabled -->
        <td  class="table-col" ng-hide="edit">{{ item.startTime | date:'HH:mm:ss'}}</td>

        <!-- table cell when edit mode is enabled -->
        <td class="table-col" ng-show="edit">
          <div >
            <p style="font-size: .8em;">{{item.startTime | date: 'yyyy-MM-dd'}}</p>
          </div>

          <div layout="row" layout-align="center center">
            <div >
              <i class="material-icons pointer" ng-mousedown="edc.addHour(item, 'startTime')" ng-mouseup="edc.cancelInterval()">keyboard_arrow_up</i>
              <p style="margin: 0px 0px 0px 0px" >{{ item.startTime | date:'HH' }}</p>
              <i class="material-icons pointer" ng-mousedown="edc.substractHour(item, 'startTime')" ng-mouseup="edc.cancelInterval()">keyboard_arrow_down</i>
            </div>

            <div >
              <p style="margin: 0px 0px 0px 0px">:</p>
            </div>

            <div >
              <i class="material-icons pointer" ng-mousedown="edc.addMinute(item, 'startTime')" ng-mouseup="edc.cancelInterval()">keyboard_arrow_up</i>
              <p style="margin: 0px 0px 0px 0px">{{ item.startTime | date:'mm'}}</p>
              <i class="material-icons pointer" ng-mousedown="edc.substractMinute(item, 'startTime')" ng-mouseup="edc.cancelInterval()">keyboard_arrow_down</i>
            </div>
          </div>

         </td>
        <!-- table cell when edit mode is disabled -->
        <td class="table-col" ng-hide="edit">{{ item.stopTime | date:'HH:mm:ss' }}</td>

        <!-- table cell when edit mode is enabled -->
        <td class="table-col" ng-show="edit">
          <div>
            <p style="font-size: .8em;">{{item.stopTime | date: 'yyyy-MM-dd'}}</p>
          </div>

          <div layout="row" layout-align="center center">
            <div>
              <i class="material-icons pointer" ng-mousedown="edc.addHour(item, 'stopTime')" ng-mouseup="edc.cancelInterval()">keyboard_arrow_up</i>
              <p style="margin: 0px 0px 0px 0px">{{ item.stopTime | date:'HH'}}</p>
              <i class="material-icons pointer" ng-mousedown="edc.substractHour(item, 'stopTime')"  ng-mouseup="edc.cancelInterval()">keyboard_arrow_down</i>
            </div>

            <div >

              <p style="margin: 0px 0px 0px 0px">:</p>
            </div>

            <div >

              <i class="material-icons pointer" ng-mousedown="edc.addMinute(item, 'stopTime')" ng-mouseup="edc.cancelInterval()">keyboard_arrow_up</i>
              <p style="margin: 0px 0px 0px 0px">{{ item.stopTime | date:'mm'}}</p>
              <i class="material-icons pointer" ng-mousedown="edc.substractMinute(item, 'stopTime')" ng-mouseup="edc.cancelInterval()">keyboard_arrow_down</i>
            </div>
          </div>

         </td>

        <td class="table-col">{{ item.dt | formatDuration }}</td>

        <!-- table cell - timespan options -->
        <td class="table-col" style="width: 15%;">
          <!-- when edit mode disabled -->
          <div ng-show="hover && !item.isPerforming && !edit">
            <md-button class="md-icon-button" aria-label="Edycja" ng-click="edit = true">
              <md-icon>mode_edit</md-icon>
              <md-tooltip>Edycja</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" aria-label="Usuń" ng-click="edc.removeTimeSpan($index)">
              <md-icon>delete_forever</md-icon>
              <md-tooltip>Usuń</md-tooltip>
            </md-button>
          </div>
          <!-- when edit mode enabled -->
          <div ng-show="hover && !item.isPerforming && edit">
            <md-button class="md-icon-button" aria-label="Zapis" ng-click="edit = false">
              <md-icon>mode_edit</md-icon>
              <md-tooltip>Wyłącz edycje</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" aria-label="Usuń" ng-click="edc.removeTimeSpan($index)">
              <md-icon>delete_forever</md-icon>
              <md-tooltip>Usuń</md-tooltip>
            </md-button>
          </div>
        </td>

      </tr>
    </tbody>
  </table>

</div>

</form>


<!-- answers footer -->
<md-dialog-actions layout="row" layout-align="space-between center">
  <div>
    <span ng-show="edc.task.history.isValid.error === true" style="color:red;">{{edc.task.history.isValid.message}}</span>
  </div>

  <div>
    <span>Sumaryczny czas: <b>{{edc.task.duration | formatDuration}}</b></span>
    <md-button ng-click="edc.cancel()" name="cancelTaskButton">Anuluj</md-button>
    <md-button ng-click="edc.save(edc.task)" class="md-accent" name="saveTaskButton" ng-disabled="edc.task.history.isValid.error == true">Zapisz</md-button>
  </div>

</md-dialog-actions>

</md-dialog>
