<h2>Profile</h2>

<div ng-controller="ProfilesController as pc">


  <md-button ng-click="showCustomDialog($event)">Dodaj nowy profil</md-button>


  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Projekty</th>
        <th>Kategorie</th>
        <th></th>
      </tr>
    </thead>
    <tbody >
      <tr class="table-col" ng-repeat="item in pc.profiles">
        <th>{{item._id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.projects}}</td>
        <td>{{item.categories}}</td>
        <td>
          <md-button ng-click="pc.removeProfile(item._id)" name="removeButton-$index">Usuń</md-button>
        </td>
      </tr>

    </tbody>
  </table>

</div>
