<!-- <div>

  <md-sidenav md-component-id="right-nav" md-is-locked-open="$mdMedia('min-width: 333px')" class="md-sidenav-left" style="background-color:#3F51B5">
    <md-toolbar class="md-theme-indigo" style="background-color:#1A237E">
      <h1 class="md-toolbar-tools">TimeTracker</h1>
    </md-toolbar>
<div style="background-color:#3F51B5">
  <md-button class="md-primary md-hue-1" name="button">Home</md-button>
  <md-button class="md-primary md-hue-1" name="raport">Raport</md-button>
  <md-button class="md-primary md-hue-1" name="raport">Kategorie</md-button>
</div>

   </md-sidenav>
</div> -->


<div id="left-navmenu" layout="column" >

  <!-- account section -->
  <div layout="column" layout-align="start end">
    <div>
      <md-button class="md-icon-button" aria-label="Profile podpowiedzi" ng-click="lvm.subPage='/layout.home/profiles.html'">
        <md-icon style="color:#C5CAE9">assignment</md-icon>
        <md-tooltip>Profile podpowiedzi</md-tooltip>
      </md-button>
      <md-button class="md-icon-button" aria-label="Ustawienia" ng-click="lvm.subPage='/layout.home/user.settings.html'">
        <md-icon style="color:#C5CAE9">settings</md-icon>
        <md-tooltip>Ustawienia</md-tooltip>
      </md-button>
    </div>

  </div>
    <div layout="column" layout-align="center center" flex="80">
      <i class="material-icons account-icon">account_circle</i>
      <h3 class="account-name">{{vm.username}}</h3>
    </div>

  <!-- application section -->
  <md-divider></md-divider>

  <div layout="column" layout-align="space-between stretch">
    <h3 class="nav-header">Zadania</h3>
    <md-divider></md-divider>
        <md-button ng-click="lvm.subPage='/layout.home/dashboard.html'" class="md-primary md-hue-1" >
          <span>
            <i class="material-icons menu-icon">subject</i>
            Do wykonania
          </span>

        </md-button>

      <md-button ng-click="lvm.subPage='/layout.home/report.html'" class="md-primary md-hue-1">
        <span>
          <i class="material-icons menu-icon">playlist_add_check</i>
          Ukończone
        </span>
      </md-button>

      <md-button ng-click="lvm.subPage='/layout.home/dayview.html'" class="md-primary md-hue-1" >
        <span>
            <i class="material-icons menu-icon">event_note</i>
            Widok dnia
        </span>
      </md-button>
  </div>

  <md-divider></md-divider>
  <div layout="column" layout-align="space-between stretch">
    <h3 class="nav-header">Raporty</h3>
    <md-divider></md-divider>
      <md-button ng-click="lvm.subPage='/layout.home/chart.html'" class="md-primary md-hue-1" >
        <span>
            <i class="material-icons menu-icon">trending_up</i>
            Statystyki
        </span>
      </md-button>
  </div>



  <!-- <md-button class="btn-menu" class="md-primary md-hue-1" name="raport" ng-click="lvm.subPage='/layout.home/categories.html'">Kategorie</md-button> -->
  <!-- <md-button class="btn-menu" class="md-primary md-hue-1" name="raport" ng-click="lvm.subPage='/layout.home/report.html'">Raport</md-button> -->
</div>
