<!-- <div>

  <md-sidenav md-component-id="right-nav" md-is-locked-open="$mdMedia('min-width: 333px')" class="md-sidenav-left" style="background-color:#3F51B5">
    <md-toolbar class="md-theme-indigo" style="background-color:#1A237E">
      <h1 class="md-toolbar-tools">TimeTracker</h1>
    </md-toolbar>
<div style="background-color:#3F51B5">
  <md-button class="md-primary md-hue-1" name="button">Home</md-button>
  <md-button class="md-primary md-hue-1" name="raport">Raport</md-button>
  <md-button class="md-primary md-hue-1" name="raport">Kategorie</md-button>
</div>

   </md-sidenav>
</div> -->


<div id="left-navmenu" layout="column" >
  <!-- <h3>Zalogowany jako: {{vm.user}}</h3> -->

  <h3 class="nav-header">Zadania</h3>
  <md-divider></md-divider>

  <md-button ng-click="lvm.subPage='/layout.home/dashboard.html'" class="md-primary md-hue-1">Do wykonania</md-button>
  <md-button ng-click="lvm.subPage='/layout.home/report.html'" class="md-primary md-hue-1">Ukończone</md-button>
  <md-divider></md-divider>
  <h3 class="nav-header">Konto</h3>
  <md-divider></md-divider>

  <md-button ng-click="lvm.subPage='/layout.home/profiles.html'" class="md-primary md-hue-1" layout-align="center end">Profile</md-button>
  <md-button ng-click="lvm.subPage='/layout.home/user.settings.html'" class="md-primary md-hue-1">Ustawienia</md-button>


  <!-- <md-button class="btn-menu" class="md-primary md-hue-1" name="raport" ng-click="lvm.subPage='/layout.home/categories.html'">Kategorie</md-button> -->
  <!-- <md-button class="btn-menu" class="md-primary md-hue-1" name="raport" ng-click="lvm.subPage='/layout.home/report.html'">Raport</md-button> -->
</div>
