<div ng-controller="UserSettingsController as vm">
  <h1>Ustawienia użytkownika</h1>


  <div flex="30">
    <h3>Wybrany profil zadań: <b md-colors="{color:'accent'}">{{vm.user.config.profile}}</b> </h3>


    <br>
    <h2>Zmiana ustawień</h2>
    <md-select placeholder="Zmień profil" md-on-open="vm.loadProfiles()" ng-model="vm.selectedProfile" style="min-width: 200px;">
      <md-option ng-value="profile" ng-repeat="profile in vm.profiles">{{ profile.name }}</md-option>
    </md-select>
  </div>
  <h5>Nazwa: {{vm.selectedProfile.name}}</h5>
  <h5>Projekty: {{vm.selectedProfile.projects}}</h5>
  <h5>Kategorie: {{vm.selectedProfile.categories}}</h5>




  <md-button class="md-accent" ng-click="vm.saveUserSettings()">Zapisz ustawienia</md-button>

</div>
