@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#left-navbar {
  background-color:#1A237E;
}
#left-navmenu, #left-sidebar {
  background-color:#303F9F;
}

@media screen and (max-width: 600px){
  #left-navmenu, #left-sidebar {
    visibility: hidden;
  }
}


.nav-header {
  color: #C5CAE9;
  text-align: center;
  cursor: default;
  margin-top: .4em;
  margin-bottom: .4em;
}

.account-icon {
  font-size: 48px;
  color: #C5CAE9;
  cursor: default;
}

.account-name {
  color: #C5CAE9;
  text-align: left;
  cursor: default;
}

.btn-menu {
  color: white;
}

.pointer {
  cursor: pointer;
}

table {

}

caption {
  display: table-caption;
  text-align: left;
}

th {
  text-align: center;
}

td > ul {
  text-align: left;
  list-style-position: inside;
}
tbody > tr:hover {
  background-color: #ECEFF1;
}
tbody > tr:nth-child(even) {
  /*background-color: #ECEFF1;*/
}

.table-checkbox {
  width: 2%;

}
md-checkbox .md-container {
  top: 90%;
}

.md-checkbox-custom {
  margin-bottom: 0px;
}

.table-desc {
  width: 30%;

}

.table-project {
  width: 10%;
  font-weight: bold;
  text-align: center;
}

.table-category {
  width: 10%;
  text-align: center;
}

.table-creation-date {
  width: 10%;
  text-align: center;
}

.table-updated {
  width: 10%;
  text-align: left;
  white-space:nowrap;
}
.table-duration {
  width: 10%;
  text-align: center;
}

.table-toggle {
  width: 10%;
  text-align: center;
}

.table-edit-btn {
  width: 6%;
  text-align: center;
}

.table-col {
  width: 10%;
  text-align: center;
}

.timespan-row {
  margin: 0 6px;
  height: 42px;
  padding: 8px;
}

.table-col-edit {
    width: 20%;
}

md-input-container:not(.md-input-has-value) {
  color:red;
}

.sortorder:after {
  content: '\25b2';   /* BLACK UP-POINTING TRIANGLE */
}
.sortorder.sortReverse:after {
  content: '\25bc';   /* BLACK DOWN-POINTING TRIANGLE */
}

.menu-icon {
  position: relative;
  top: 0.3em;
  left: -0.4em;
}

/*
  Animations
*/


/*
  Dialogs
*/

.edit-task-dialog {
  width: 90%;
}

.has-error {
  color: red;
  background-color: yellow;
}

.has-error:hover {
  color: red;
  background-color: yellow;
}

[contenteditable] {
  border: 2px dotted #ccc;
  background-color: #eee;
  padding: 2px;
}
