@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#left-navbar {
  background-color:#1A237E;
}

#left-navmenu, #left-sidebar {
  background-color:#303F9F;
}

.btn-menu {
  color: white;
}

table {
  
}
