<!-- <div>

  <md-sidenav md-component-id="right-nav" md-is-locked-open="$mdMedia('min-width: 333px')" class="md-sidenav-left" style="background-color:#3F51B5">
    <md-toolbar class="md-theme-indigo" style="background-color:#1A237E">
      <h1 class="md-toolbar-tools">TimeTracker</h1>
    </md-toolbar>
<div style="background-color:#3F51B5">
  <md-button class="md-primary md-hue-1" name="button">Home</md-button>
  <md-button class="md-primary md-hue-1" name="raport">Raport</md-button>
  <md-button class="md-primary md-hue-1" name="raport">Kategorie</md-button>
</div>

   </md-sidenav>
</div> -->


<div flex="15" id="left-navbar">
    <div>
      <h1 class="md-toolbar-tools" style="color:white">TimeTracker</h1>
    </div>
<div id="left-navmenu" layout="column">
  <md-button class="btn-menu" class="md-primary md-hue-1" name="button">Home</md-button>
  <md-button class="btn-menu" class="md-primary md-hue-1" name="raport">Raport</md-button>
  <md-button class="btn-menu" class="md-primary md-hue-1" name="raport">Kategorie</md-button>
</div>

</div>
