<!-- home page -->

<div layout="row"  layout-align="start stretch" ng-controller="LayoutController as lvm" >
  <!-- left side nav -->
  <div id="left-sidebar" layout="column" flex="15" class="md-whiteframe-4dp" ng-include="'layout.home/sidenav.html'" ng-controller="SideNavController as vm"></div>
  <!-- home dashboard -->
  <!-- <div layout="column" flex="80" layout-margin ng-include="'layout.home/dashboard.html'" ng-controller="DashboardController as vm"></div> -->
  <div layout="column" flex="80" layout-margin ng-include="lvm.subPage" ></div>
  <!-- alternative use $routeparams -->

</div>
