<nav class="md-whiteframe-2dp" style="background-color:#1A237E; color: white" layout="row" layout-align="end start" >
    <!-- column 1 -->
      <div flex="20" >
        <h4 style="margin: 0px; padding: 20px">TimeTracker</h4>
      </div>
      <div flex="">

      </div>
    <!-- column 3 -->

        <div ng-controller="logoutController as vm" >
          <div ng-if="vm.isLoggedIn()" layout-align="end none" >
            <md-button ng-click='vm.logout()' class="md-raised md-primary">Logout</md-button>
          </div>
        </div>


</nav>
